//font
$fuente_principal: 'Monserrat', sans-serif;


//colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000;
$blanco: #fff;

//tamaños
$telefono: 480px;
$tablet: 768px;
$desk:992px;
$deskXL:1200px;












